# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Build artifacts
lambda_build.zip
lambda_build/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Environment variables and secrets
.env

# Test/debug outputs
response.json

# MacOS
.DS_Store

# Logs
*.log
